.main {
  /* padding: clamp(50px, 10vh, 250px) clamp(20px, 20vh, 30px); */
  padding: 30px 30px;
  line-height: 2rem;
}
.main div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}
.main div img {
  width: 50px;
}

@media screen and (min-width: 992px) {
  .main {
    padding: 30px 50px;
  }
  .main div {
    margin-bottom: 50px;
  }
}
